<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="brands">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="colors">Colors</a>
          </li>
        </ul>
        <form class="d-flex">
          <button *ngIf="!isAuthenticated" routerLink="login" class="btn btn-outline-success me-2" type="submit">Login</button>
          <button *ngIf="!isAuthenticated" routerLink="register" class="btn btn-outline-success me-2" type="submit">Register</button>
          <div *ngIf="isAuthenticated" class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{username}} <br> {{findeks}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </nav>
