<div class="content mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Marka Güncelle</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="brandUpdateForm">
                    <div class="mb-3">
                        <label for="brandName" class="form-label">Brand Name</label>
                        <input type="text" class="form-control" id="brandName" formControlName="brandName" placeholder="Brand Name">
                      </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="update()">Güncelle</button>
            </div>
        </div>
    </div>
</div>
