<div class="mb-3">
    <form [formGroup]="userCardDetailForm">
        <fieldset>
            <legend>Ödeme İşlemleri</legend>
            
            <label for="name" class="form-label">İsim:</label>
            <input type="text" class="form-control" id="name" placeholder="isim">
            
            <label for="lastName" class="form-label">Soyisim:</label>
            <input type="text" class="form-control" id="lastName" placeholder="Soyisim">

            <label for="cardNumber" class="form-label">Kredi Kartı Numarası:</label>
            <input type="number" class="form-control" id="cardNumber" formControlName="cardNumber" placeholder="Kredi Kartı Numarası">
        </fieldset>
    </form>
    <button type="button" class="btn btn-primary mt-3" (click)="pay()">Ödeme Yap</button>
</div>
  
