<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Update Color</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="colorUpdatedForm">
                    <div class="mb-3">
                        <label for="colorName" class="form-label">Color Name</label>
                        <input type="text" class="form-control" formControlName="colorName" id="colorName" placeholder="Color Name">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-warning" (click)="update()">Güncelle</button>
            </div>
        </div>
    </div>
</div>
